@inherits LayoutComponentBase
@using BlueberryEarth5.Services;

@inject PeriodicExecutor PeriodicExecutor
	<!-- Sidebar end -->
	<!-- Sticky alerts (toasts), empty container -->
	<!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
	<div class="sticky-alerts"></div>

	<TopNavBar />

	<!-- Sidebar overlay -->
	<div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

	<Sidebar />

	<!-- Content wrapper start -->
	<div class="content-wrapper">
		<div class="container">
			<div class="content">
				@Body
			</div>
		</div>
	</div>
	<!-- Content wrapper end -->

@code {
	protected override void OnInitialized()
	{
		PeriodicExecutor.StartExecuting();
	}
}
