@inherits LayoutComponentBase
@using BlueberryEarth5.Services;

@inject PeriodicExecutor PeriodicExecutor
<div class="page">

	<div class="container">
		<div class="content">
			@Body
		</div>
	</div>

</div>

@code {
	protected override void OnInitialized()
	{
		PeriodicExecutor.StartExecuting();
	}
}