	<!-- Sidebar start -->
<div class="sidebar">
	<!-- Reference: https://www.gethalfmoon.com/docs/sidebar -->
	<div class="sidebar-menu">
		<h5 class="sidebar-title">Getting started</h5>
		<div class="sidebar-divider"></div>
		<NavLink href="" class="sidebar-link sidebar-link-with-icon" Match="NavLinkMatch.All">
			<span class="sidebar-icon">
				<i class="fa fa-home" aria-hidden="true"></i>
			</span>
			Home
		</NavLink>
		<NavLink href="ocean" class="sidebar-link sidebar-link-with-icon">
			<span class="sidebar-icon">
				<i class="fa fa-wrench" aria-hidden="true"></i>
			</span>
			Ocean
		</NavLink>
		<NavLink href="fetchdata" class="sidebar-link sidebar-link-with-icon">
			<span class="sidebar-icon">
				<i class="fa fa-database" aria-hidden="true"></i>
			</span>
			Fetch data
		</NavLink>
	</div>
</div>

@code {

}
