<nav class="navbar">
	<!-- Navbar content (with toggle sidebar button) -->
	<div class="navbar-content">
		<button class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
			<i class="fa fa-bars" aria-hidden="true"></i>
			<span class="sr-only">Toggle sidebar</span> <!-- sr-only = show only on screen readers -->
		</button>
	</div>

	<span class="navbar-text text-monospace">Blueberry Earth v0.02</span> <!-- text-monospace = font-family shifted to monospace -->

</nav>

@code {

}
