@inject AppState AppState
@implements IDisposable
@page "/buildings"

<h3>Buildings</h3>

<p>Blueberry Bricks: @AppState.GetResourceValue(ResourceType.BlueberryBrick)</p>
<button class="btn btn-primary" @onclick="MakeBrick">Make Brick</button>

@code {
	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose() => AppState.OnChange -= StateHasChanged;

	protected void MakeBrick()
	{
		AppState.ModifyResourceValue(ResourceType.BlueberryBrick, 1);
		AppState.ModifyResourceValue(ResourceType.BlueberryMush, -5);
	}
}