@page "/ocean"
@inject AppState AppState
@implements IDisposable

<h3>Ocean</h3>

<p>Blueberry Mush: @AppState.GetResourceValue(ResourceType.BlueberryMush)</p>
<RadzenButton Click="Mush">Mush</RadzenButton>

<h3>Buildings</h3>

<p>Blueberry Bricks: @AppState.GetResourceValue(ResourceType.BlueberryBrick)</p>
<RadzenButton Click="MakeBrick">Make Brick</RadzenButton>

@code {
	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose() => AppState.OnChange -= StateHasChanged;

	protected void Mush()
	{

		AppState.ModifyResourceValue(ResourceType.BlueberryMush, 1);
	}

	protected void MakeBrick()
	{
		AppState.ModifyResourceValue(ResourceType.BlueberryBrick, 1);
		AppState.ModifyResourceValue(ResourceType.BlueberryMush, -5);
	}

}
